:root {
    --pr-color: #e0e0e0;
}

.main-sidebar {
    background-color: #475D21 !important;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(255, 236, 214); */
}

/* navbar style */

.navbar {
    z-index: 3;
    /* tingakatan layer*/
}

* {
    z-index: 2;
}

.aksen-img {
    z-index: 1;
}

.img-hero {
    z-index: 1;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20;
}

.nav-link {
    font-size: 10;
}

.nav-link.active {
    font-weight: 700;
}

.button-secondary {
    width: 133px;
    height: 40px;
    background-color: #fff;
    color: var(--pr-color);
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.button-primary {
    width: 133px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

/* sidebar */
.nav-sidebar .nav-link.active {
    background-color: #90A56B !important;
    color: white !important;
}

.nav-sidebar .nav-link.active i {
    color: white !important;
}

/* sidebar */

/* filter pencatatan */
.filter-select {
    width: 200px; /* Atur lebar sesuai kebutuhan Anda */
}

/* filter pencatatan */

/* hero section */
#hero {
    background-image: url('/landing/assets/img/hero-user.png');
    background-size: cover;
    height: 70vh;
    width: 100%;
}

.img-hero {
    height: 100%;
}

.hero-tagline h1 {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    line-height: 72px;

}

.hero-tagline p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 30px;
    width: 85%;
}

.button-lg-primary {
    width: 237px;
    height: 70px;
    background-color: #fff;
    color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

/* layanan section */
#layanan {
    padding: 100px 0;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    color: var(--pr-color);
}

.sub-title {
    font-size: 18p;
    color: black;

}

.card-layanan {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background-color: #D6C3AB;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in;
}

.card-layanan2 {
    position: absolute;
    top: 300px;
    right: 626px;
    width: 355px;
    height: 314px;
    border-radius: 5px;
    background-color: rgba(214, 195, 171, 0.05);
    padding: 40px;
}

.btn-kartu {
    background-color: #475D21;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: back;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
}

.btn-edit-profil {
    margin-bottom: 10px;
    /* position: relative; */
    /* top: px; */
    /* bottom: 10px; */
    /* right: px; */
    /* left: 390px; */
    background-color: #475D21;
    color: #fff;
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: back;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
}

.password-toggle i {
    /* cursor: pointer;
    position: relative;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0;
    border: none; */
    padding: 0;

}

.input-group-text-pw {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin-left: 0;
    padding: 0 10px;
    /* Sesuaikan nilai ini untuk padding horizontal */
    border: none;
    /* Hapus border default */
    background-color: transparent;
    /* Hapus background default */
}

.input-group-pw {
    background-color: transparent;
    border: none;
    padding-right: 35px;
    /* Sesuaikan nilai ini dengan lebar icon mata */
}

.form-control-pw {
    border: none;
    padding: 0;
}

.bi-eye,
.bi-eye-slash {
    font-size: 18px;
}

.capitalize-first {
    text-transform: capitalize;
}

.form-group-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    /* position: absolute;  */
    /* right: 20px; 
    top: 50%;  */
    transform: translateY(-50%);
}

.btn-kartu:hover {
    background-color: #D6C3AB;
}

.btn-edit-profil:hover {
    background-color: #D6C3AB;
}

.profil {
    margin-bottom: 10px;
}



.circle-icon {
    width: 70px;
    height: 70px;
    background-color: #D6C3AB;
    border-radius: 50%;
    transition: all .1s ease-in;

}

.card-layanan h3 {
    color: black;
    font-size: 24px;
    transition: all .3s ease-in;
}

.card-layanan p {
    color: #000000;
    font-size: 14px;
    transition: all .3s ease-in;

}

.kartu-gambar {
    position: relative;
    bottom: 15px;
    /* left: 1%; */
    /* transform: translate(-50%, -50%); */

}

.kartu-deskripsi-dash {
    position: relative;
    bottom: 25px;
}

.kartu-judul-das {
    position: relative;
    bottom: 25px;
}

/* kondisi ketika hover */
.card-layanan:hover {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background: rgb(57, 74, 26);
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in;
}

.card-layanan2:hover {
    position: absolute;
    top: 300px;
    right: 626px;
    width: 355px;
    border-radius: 5px;
    background: rgba(57, 74, 26, 0.05);
    padding: 40px;
    /* box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05); */
    /* transition: all .2s ease-in; */
}

.card-layanan:hover .circle-icon {
    background-color: #fff;
    transition: all .2s ease-in;
}

.circle-icon:hover {
    width: 70px;
    height: 70px;
    background-color: #D6C3AB;
    border-radius: 50%;
    transition: all .2s ease-in;

}

.card-layanan:hover h3 {
    color: #fff;
    font-size: 24px;
    transition: all .2s ease-in;
}

.card-layanan:hover p {
    color: #fff;
    font-size: 14px;
    transition: all .2s ease-in;

}


/* Search section */
#search {
    background-image: url(../asset/img/Search\ Bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#search h2 {
    color: var(--pr-color);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#search p {
    color: #ffffff;
    /*background-color: var(--pr-color);*/
    height: 72;
    text-align: center;
}

.input-cari {
    height: 88px;
}

.input-cari:focus {
    border: none;
}

.input-cari .button-secondary {
    width: 200px;
    height: 88px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--pr-color);
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 0 0 0 10px;
}

.input-cari .button-primary {
    height: 88px;
    background-color: var(--pr-color);
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 0 10px 0 10px;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--pr-color);
    border-radius: 0 8px 0 0;
    font-weight: 500;
}

.nav-tabs .nav-link {
    border: none;
    color: #000000;
}

/*Section Rekomendasi*/

.card {
    height: 469px;
    border: none;
}

.card-body h4 {
    color: #000000;
    font-weight: 600;
    font-size: 24px;
    line-height: .8rem;
}

.card-body p {
    color: #41444b;
    font-weight: 100;
    font-size: 16px;

}

.card:hover {
    transition: all ease-in-out .3x;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.8);
    /* background : linear-gradient(160deg, var(--pr-color), rgb(255, 147, 80)); */
}

.card:hover .card-body h4 {
    color: #ffffff;
    transition: all ease-in-out .3x;
}

.card:hover .card-body p {
    color: #ffffff;
    transition: all ease-in-out .3x;
}

.card-fasilitas {
    background-color: #fff;

}

.card-fasilitas span {
    font-weight: 500;
    margin-top: 18;
    color: #000000;
}

.card-fasilitas p {
    font-size: 16px;
}

#rekomendasi h2 {
    color: var(--pr-color);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}